$dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);
$dk-gry-magenta: hsl(303, 10%, 53%);
$lt-gry-magenta: hsl(300, 24%, 96%);



// Global styles

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 0.9rem;
  font-family: 'Spartan', sans-serif;
  line-height: 1.5;
  margin: 1rem;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  min-height: 100vh;
}


// General styles

h1, h2 {
  color: $dark-magenta;
}

h1 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

h2, h3 {
  font-size: 0.8rem;
}

p {
  color: $dk-gry-magenta;
}

.left-container {
  margin: 1rem 0.5rem;  
}

// Rating star boxes

.ratings {
  display: flex;
  flex-direction: column;
}

.review-box {
  background: $lt-gry-magenta;
  margin: 0.5rem;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
    
.stars {
  width: 100px;
  height: 16px;
  background: url(/images/icon-star.svg);
  background-repeat: space;
  margin: 0.5rem;
}
  


// Testimonial boxes

.testimonials {

  .card {
    background: $dark-magenta;
    margin: 1rem 0.75rem;
    padding: 1.75rem;
    text-align: left;
    font-size: 0.9rem;
    border-radius: 3%;
  }

  .reviewer {
    display: flex;
  }

  .reviewer-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .name {
    color: $lt-gry-magenta;
  }

  .buyer {
    color: $soft-pink;
    font-weight: 300;
  }

  img {
    border-radius: 50%;
    width: 50px;
    margin-right: 1.5rem;
  }

  .testimonial-text {
    color: $lt-gry-magenta;
    margin-top: 1.5rem;
  }
}



@media (min-width: 900px) {
  // General styles
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 0 1.5rem;
    background: url(../images/bg-pattern-top-desktop.svg) left top no-repeat, url(../images/bg-pattern-bottom-desktop.svg) right bottom no-repeat;
    font-size: 15px;
    max-width: 1100px;
  }

  h1 {
    margin-top: 1rem;
    font-size: 3rem;
  }

  .hero {
    display: flex;
    align-items: center;
  }

  // Top section
  .left-container {
    flex: 0.8;
  }

  .ratings {
    flex: 1;
    padding-left: 2rem;
    max-width: 550px;
    width: 100%;
  }

  .review-box {
    display: flex;
    max-width: 400px;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  #report-rating {
    align-self: center;
  }

  #besttech-rating {
    align-self: flex-end;
  }

  // Testimonials
  .testimonial-cards {
    display: flex;
    align-items: flex-start;
    margin-top: 2rem;
  }

  .testimonial-text {
    font-size: 0.9rem;
  }

  #colton {
    margin-left: 0;
  }

  #irene {
    margin-top: 2rem;
  }

  #anne {
    margin-top: 3rem;
  }
}
